.rawDataWrapper{
    display: flex;
    gap: 2rem;
    padding: 2rem;
}
.rawDataWrapper>div{
    flex: 1;
    flex-shrink: 0;
    overflow: auto;
}
.rawDataWrapper>div>div>p{
    word-break: break-all;
}

.itemIndexAndDatawrapper{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}